<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/style.css">

</head>
<body>
	<header>
		<h2>Library Management</h2>
	</header>


	<aside>

		<nav>
			<ul>



				<li><a href="student"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Add Students</span>
				</a></li>
				
				
				<li><a href="book"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Add Books</span>
				</a></li>
				
				<li><a href="studentrecord"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title">  Students Record</span>
				</a></li>
				
				<li><a href="bookrecord"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Book Records</span>
				</a></li>
				
				<li><a href="generatedailyreport"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Generate Report</span>
				</a></li>
				
				<li><a href="issuebook"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Issue Book</span>
				</a></li>
				
				<li><a href="returnbook"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Return Book</span>
				</a></li>
				
				<li><a href="penalty"> <span class="icon"><i
							class="fas fa-border-all"></i></span> <span class="title"> Calculate Penalty</span>
				</a></li>
				
			
				<li><a href="#">About Us</a></li>
			</ul>
		</nav>

	</aside>
	<section>

		<div layout:fragment="content"></div>


	</section>

</body>


</html>